services:
    - type: web
      name: social-fit-prod
      env: docker
      dockerfilePath: ./Dockerfile
      plan: free
      envVars:
          - key: APP_ENV
            value: production
          - key: DATABASE_URL
            fromDatabase:
                name: social-fit-db
                property: connectionString
databases:
    - name: social-fit-db
      plan: free

preview:
    services:
        - type: web
          name: social-fit-preview
          env: docker
          dockerfilePath: ./Dockerfile
          envVars:
              - key: APP_ENV
                value: preview
              - key: DATABASE_URL
                fromDatabase:
                    name: social-fit-preview-db
                    property: connectionString
    databases:
        - name: social-fit-preview-db
          plan: free
